@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(7px); }
    100% { transform: translateY(0); }
}

.hero{
	padding: 358px 0 200px 0;
	background-color: #EBE7F3;
	position: relative;
	height: 100vh;
	min-height: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -158px;
	&__container{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		.hero__img{
			width: 32%;
			height: auto;
		}
		.hero__logo{
			width: 26%;
			padding: 0 5%;
		}
		.hero__scroll{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 60px;
			cursor: pointer;
			#scroll {
				#arrow{
				animation: bounce 1.5s ease-in-out 0s infinite;
				}
			}
		}
	}
	@media only screen and (max-width: 1000px){
		padding: 80px 0 30px 0;
		min-height: 100vh;
		margin-top: 0;
		&__container{
			flex-direction: column;
			height: 100%;
			.hero__scroll{
				display: none;
			}
			.hero__img{
				width: 40%;
				height: auto;
			}
			.hero__logo{
				width: 70%;
				padding: 5% 0;
			}
		}
	}
}

.phase__name__basic{
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: .5px;
	color: #4FBE9E;
	font-weight: bold;
	min-width: 234px;
	padding-bottom: 16px;
	border-bottom: 3px solid #000000;
	@media only screen and (max-width: 1000px){
		min-width: 0;
	}
}
.phase__desc__basic{
	margin-top: 24px;
	p{
		font-size: 31.25px;
		line-height: 42px;
		@media only screen and (max-width: 1000px){
			font-size: 20px;
			line-height: 32px;
		}
	}
}

.flow{
	position: relative;
	.circles{
		z-index: 0;
		.circle{
			border-radius: 50%;
			position: absolute;
			z-index: 0;
			&:first-child{
				width: 80vw;
				height: 80vw;
				left: -30%;
				background: linear-gradient(0deg, rgba(255,255,255, 0) 0%, rgba(0,0,0, 0.03) 100%);
				top: 10%;
			}
			&:nth-child(2){
				width: 90vw;
				height: 90vw;
				right: -30%;
				background: linear-gradient(180deg, rgba(255,255,255, 0) 0%, rgba(0,0,0, 0.03) 100%);
				top: 0;
			}
			&:nth-child(3){
				width: 100vw;
				height: 100vw;
				left: -20%;
				background: linear-gradient(0deg, rgba(255,255,255, 0) 0%, rgba(0,0,0, 0.03) 100%);
				bottom: 0;
			}
			&:nth-child(4){
				width: 80vw;
				height: 80vw;
				right: -50%;
				background: linear-gradient(0deg, rgba(255,255,255, 0) 0%, rgba(0,0,0, 0.03) 100%);
				bottom: 20%;
			}
		}
	}
	& > .container{
		position: static;
		z-index: 1;
		*{
			z-index: 1;
		}
	}
	padding-top: 200px;
	.flow__header{
		text-align: center;
		display: flex;
		flex-direction: column;
		.flow__heading{
			font-size: 49px;
			line-height: 70px;
			text-transform: uppercase;
			max-width: 600px;
			margin: 0 auto;
		}
		.flow__text{
			max-width: 520px;
			margin: 0 auto;
			margin-top: 50px;
		}
	}
	.phase{
		display: flex;
		flex-direction: row;
		margin-top: 140px;
		&__info{
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&__container{
				width: 80%;
				margin: 0 auto;
				display: flex;
				flex-direction: row;
				.phase__info__no{
					font-size: 150px;
					font-weight: 200;
				}
				.phase__info__content{
					margin-left: 60px;
					max-width: 520px;
				}
				.phase__name{
					@extend .phase__name__basic;
				}
				.phase__desc{
					@extend .phase__desc__basic;
				}
			}
		}
		&__img{
			width: 50%;
			padding-top: 50px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			img{
				width: 80%;
				height: auto;
			}
			&__desc{
				align-self: flex-start;
				width: 60%;
				margin-left: 10%;
				padding-left: 50px;
				padding-top: 20px;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		&__arrow{
			margin-left: 30%;
			img{
				cursor: pointer;
				animation: bounce 1.5s ease-in-out 0s infinite;
			}
			&--mobile{
				display: none;
				img{
					animation: bounce 1.5s ease-in-out 0s infinite;
				}
			}
		}
	}
	@media only screen and (max-width: 1000px){
		padding: 80px 0;
		.flow__header{
			.flow__heading{
				font-size: 35px;
				line-height: 45px;
				max-width: 80%;
			}
		}
		.phase{
			flex-direction: column;
			margin-top: 70px;
			&__info{
				width: 100%;
				&__container{
					width: 100%;
					justify-content: center;
					.phase__info__content{
						margin-left: 10px;
					}
				}
			}
			&__img{
				width: 100%;
				max-width: 800px;
				margin: 0 auto;
				&__desc{
					margin: 0;
					padding-left: 0;
					width: 100%;
					text-align: center;
				}
			}
			&__arrow{
				display: none;
				&--mobile{
					display: block;
					margin-top: 40px;
					img{
						margin: 0 auto;
					}
				}
			}
		}
	}
	.final-phase{
		margin-left: 5%;
		display: flex;
		flex-direction: row;
		margin-top: 140px;
		position: relative;
		.final-phase__img{
			img{
				width: 73.5px;
				min-width: 73.5px;
				height: auto;
			}
		}
		.final-phase__content{
			margin-left: 60px;
			.final-phase__name{
				@extend .phase__name__basic;
			}
			.final-phase__desc{
				@extend .phase__desc__basic;
				max-width: 950px;
			}
		}
		.background-text{
			position: absolute;
			text-transform: uppercase;
			z-index: 0;
			font-weight: bold;
			opacity: .03;
			font-size: 130px;
			top: 100%;
			transform: translateY(-20%);
		}
		@media only screen and (max-width: 1000px){
			margin-top: 70px;
			.final-phase__content{
				margin-left: 10px;
			}
			.background-text{
				font-size: 80px;
			}
		}
		@media only screen and (max-width: 500px){
			.background-text{
				font-size: 40px;
			}
		}
	}
	.solution{
		margin: 150px 5% 0 5%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		&__plus{
			&:before{
				content: '+';
				display: block;
				font-size: 60px;
				margin: 0 20px 50px 20px;
			}
		}
		.solution__container{
			img{
				max-height: 430px;
				width: auto;
			}
			.solution__title{
				margin-top: 30px;
				font-weight: bold;
				text-transform: uppercase;
				max-width: 180px;
				height: 64px;
			}
			&:last-child{
				.solution__title{
					max-width: 300px;
					padding-left: 80px;
				}
			}
		}
		@media only screen and (max-width: 1000px){
			flex-direction: column;
			.solution__container{
				img{
					max-height: 100vw;
					margin: 0 auto;
				}
				.solution__title{
					max-width: 100%;
					text-align: center;
				}
				&:last-child{
					.solution__title{
						max-width: 100%;
						padding-left: 0;
					}
				}
			}
		}
	}
}

.reviews{
	padding: 100px 0 200px 0;
	.reviews__container{
		width: 85%;
		padding: 120px 22%;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: url('./dist/img/bgs/HERO-TESTIMONIALS.png');
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
		text-align: center;
		.reviews__header{
			font-size: 49px;
			line-height: 70px;
			text-transform: uppercase;
		}
		.swiper-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 50px;
			&, & p{
				font-size: 20px;
				line-height: 32px;
			}
		    .swiper-wrapper{
				.review{
					cursor: pointer;
					&__author{
						margin-top: 40px;
					}
					&__company{
						margin-top: 20px;
						text-transform: uppercase;
						font-weight: bold;
					}
				}
		    }
		    .swiper-pagination{
		    	position: static;
		    	margin-top: 50px;
		    	.swiper-pagination-bullet{
		    		height: 3px;
		    		width: 55px;
		    		border: none;
		    		border-radius: 0;
		    		margin: 0 15px;
		    		background-color: #4FBE9E;
		    		opacity: 1;
		    		transition: background-color .3s ease;
		    		&-active{
						background-color: #003B7D;
		    		}
		    	}
		    }
	    }
	}
	@media only screen and (max-width: 800px){
		padding: 80px 0;
		.reviews__container{
			width: 100%;
			box-shadow: none;
			padding: 0;
			background: #fff;
			.reviews__header{
				font-size: 35px;
				line-height: 45px;
				max-width: 80%;
				margin: 0 auto;
			}
			.swiper-container{
				.swiper-pagination{
					margin-top: 20px;
					.swiper-pagination-bullet{
						width: 20px;
						margin: 0 5px;
					}
				}
			}
		}
	}
}

.cta{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('./dist/img/bgs/CTA-BG.png');
	padding: 150px 0;
	text-align: center;
	color: #fff;
	.cta__header{
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 30px;
		border-bottom: 3px solid #fff;
		display: inline-block;
		padding-bottom: 10px;
	}
	.cta__caller{
		font-size: 49px;
		line-height: 70px;
		text-transform: uppercase;
		max-width: 600px;
		margin: 50px auto 0 auto;
	}
	.cta__text{
		font-size: 20px;
		max-width: 600px;
		margin: 50px auto 0 auto;
	}
	.cta__button{
		margin-top: 60px;
		border: none;
		border-radius: 3px;
		background-color: #4FBE9E;
		color: #fff;
		font-size: 13px;
		font-weight: bold;
		padding: 11px 23px;
		letter-spacing: 2px;
		transition: all .5s ease;
		&:hover, &:active{
			background-color: #fff;
			color: #4FBE9E;
		}
	}
	@media only screen and (max-width: 800px){
		padding: 80px 0;
		.cta__caller{
			font-size: 35px;
			line-height: 45px;
			max-width: 80%;
		}
	}
}