.case-studies-hero{
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;
	@media only screen and (max-width: 1000px){
		height: 50vh;
	}
}

.case-studies-container{
	text-align: center;
	.main-header{
		margin: 150px 0;
		@media only screen and (max-width: 1000px){
			margin: 50px;
		}
	}
}

.cta_case_studies{
	.cta__button{
		margin-top: 20px;
	}
}