.local-hero{
	height: 500px;
	background: #EBE7F3;
	z-index: 2;
	position: relative;
	@media only screen and (max-width: 1000px){
		height: 50vh;
	}
	.hero-img{
		width: 80%;
		max-width: 700px;
		height: auto;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: -20%;
	}
}

.local-container{
	text-align: center;
	padding-top: 250px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	*{
		z-index: 1;
		position: relative;
	}
	.container{
		div{
			position: relative;
		}
	}
	@media only screen and (max-width: 1000px){
		padding-top: 150px;
	}
	.local-header{
		font-size: 50px;
		line-height: 70px;
		font-weight: bold;
		text-transform: uppercase;
		@media only screen and (max-width: 1000px){
			font-size: 30px;
			line-height: 42px;
		}
		&.not-first{
			margin-top: 150px;
			@media only screen and (max-width: 1000px){
				margin-top: 50px;
			}
		}
	}
	.local-text{
		max-width: 800px;
		margin: 50px auto 0 auto;
	}
	.local-flow{
		.local-boxes{
			padding-top: 200px;
			background-repeat: no-repeat;
			background-position: 50% 4%;
			background-size: auto 60%;
			@media only screen and (max-width: 1199px){
				background-image: none !important;
				padding-top: 50px;
			}
			.row{
				align-items: stretch;
			}
			.local-box-container{
				display: flex;
				flex-direction: column;
				.local-box-img{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					height: 330px;
					margin-bottom: 100px;
					@media only screen and (max-width: 1199px){
						height: auto;
						width: 90vw;
						max-width: 630px;
						margin: 0 auto 50px auto;
					}
					.phone{
						width: 40%;
						height: auto;
						@media only screen and (max-width: 1199px){
							width: 50%;
						}
					}
					.arrow{
						transform: rotate(270deg);
						animation: bounce-right 1.5s ease-in-out 0s infinite;
						@media only screen and (max-width: 1199px){
							display: none;
						}
					}
					&.phone-main{
						background-image: none !important;
						@media only screen and (max-width: 1199px){
							height: 600px;
							max-width: 800px;
							background-image: url('./dist/img/local/AGENCY4.svg') !important;
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
						}
						@media only screen and (max-width: 500px){
							height: 400px;
						}
						@media only screen and (max-width: 400px){
							height: 350px;
						}
					}
				}
				.local-box-text{
					flex-grow: 1;
					background: #fff;
					box-shadow: 0 2px 24px 0 rgba(0,0,0,0.1);
					padding: 50px;
					height: auto;
					@media only screen and (max-width: 1500px){
						padding: 25px;
					}
					@media only screen and (max-width: 1199px){
						max-width: 800px;
						margin: 0 auto 50px auto;
					}
					&, & p {
						font-size: 31px;
						line-height: 42px;
						@media only screen and (max-width: 1199px){
							font-size: 20px;
							line-height: 32px;
						}
					}
					.local-box-number{
						color: #4FBE9E;
						font-weight: bold;
						margin-bottom: 50px;
					}
				}
			}
			.arrow-mobile{
				display: none;
				@media only screen and (max-width: 1199px){
					display: block;
					margin: 0 auto;
					animation: bounce 1.5s ease-in-out 0s infinite;
				}
			}
		}
		.flow-result{
			position: relative;
			@media only screen and (max-width: 1350px){
				margin-top: 50px;
			}
			.flow-result-img{
				max-width: 800px;
				height: auto;
				margin-left: 15%;
				@media only screen and (max-width: 1800px){
					margin-left: 10%;
				}
				@media only screen and (max-width: 1650px){
					margin-left: 0;
				}
				@media only screen and (max-width: 1350px){
					margin: 0 auto;
					width: 90vw;
					padding-top: 150px;
				}
				@media only screen and (max-width: 550px){
					width: 100%;
				}
			}
			.flow-result-box{
				background: #fff;
				box-shadow: 0 2px 24px 0 rgba(0,0,0,0.1);
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				padding: 50px 100px;
				text-align: left;
				border-radius: 10px;
				@media only screen and (max-width: 1500px){
					padding: 20px;
				}
				@media only screen and (max-width: 1350px){
					top: 0;
					left: 50%;
					transform: translate(-50%, 0);
				}
				@media only screen and (max-width: 550px){
					left: 0;
					width: 100%;
					transform: none;
				}
				&, & p {
					font-size: 31px;
					line-height: 42px;
					@media only screen and (max-width: 1199px){
						font-size: 20px;
						line-height: 32px;
					}
				}
				.flow-result-header{
					color: #4FBE9E;
					font-weight: bold;
					text-transform: uppercase;
					margin-bottom: 30px;
				}
			}
		}
	}
	.employee-advocacy{
		padding: 100px 0;
		background: #003B7D;
		margin-top: 150px;
		position: relative;
		color: #fff;
		@media only screen and (max-width: 1000px){
			padding: 50px 0;
			margin-top: 50px;
		}
		.employee-advocacy-img{
			margin: 50px auto 0 auto;
			max-width: 800px;
			&:nth-of-type(2){
				margin: 0 auto;
			}
			@media only screen and (max-width: 1000px){
				margin: 50px auto 0 auto;
				max-width: 90vw;
			}
		}
	}
}
