@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-Bold.eot');
    src: url('./fonts/Jost-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Jost-Bold.woff2') format('woff2'),
        url('./fonts/Jost-Bold.woff') format('woff'),
        url('./fonts/Jost-Bold.ttf') format('truetype'),
        url('./fonts/Jost-Bold.svg#Jost-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-BoldItalic.eot');
    src: url('./fonts/Jost-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Jost-BoldItalic.woff2') format('woff2'),
        url('./fonts/Jost-BoldItalic.woff') format('woff'),
        url('./fonts/Jost-BoldItalic.ttf') format('truetype'),
        url('./fonts/Jost-BoldItalic.svg#Jost-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-Book.eot');
    src: url('./fonts/Jost-Book.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Jost-Book.woff2') format('woff2'),
        url('./fonts/Jost-Book.woff') format('woff'),
        url('./fonts/Jost-Book.ttf') format('truetype'),
        url('./fonts/Jost-Book.svg#Jost-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-BookItalic.eot');
    src: url('./fonts/Jost-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Jost-BookItalic.woff2') format('woff2'),
        url('./fonts/Jost-BookItalic.woff') format('woff'),
        url('./fonts/Jost-BookItalic.ttf') format('truetype'),
        url('./fonts/Jost-BookItalic.svg#Jost-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

* {
   box-sizing: border-box;
   outline-color: transparent;
   outline-width: 0;
   -ms-content-zooming: none;
   -ms-scroll-chaining: none;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-appearance: none;
   -moz-appearance: none;
    outline: 0;
}
::-moz-selection {
   color: $white;
   background: $navy;
}
::selection {
   color: $white;
   background: $navy;
}
html, body {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  font-family: Jost, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  color: $black;
  line-height: 1;
  letter-spacing: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-display: fallback;
  scroll-behavior: smooth;
}
img {
   border: none;
   display: block;
   max-width: 100%;
}
a {
  font-family: Jost, sans-serif;
   font-size: inherit;
   font-weight: inherit;
   font-style: inherit;
   color: inherit;
   line-height: inherit;
   letter-spacing: inherit;
   text-decoration: none;
   @include transition();

}
p{
  font-size: 20px;
  line-height: 32px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}
textarea {
   border-radius: 0;
   overflow: hidden;
   resize: none;
}
input {
  font-family: Jost, sans-serif;
  font-size: inherit;
  border-radius: 0;
  color: $black;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
button, input[type="submit"] {
   cursor: pointer;
   border-radius: 0;
}
button,
input,
select,
textarea {
  font: inherit;
}
em, i {
   font-style: italic;
}
strong, b {
   font-weight: 700;
}
.clearfix:after {
   content: '';
   display: block;
   clear: both;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


/* Text meant only for screen readers. */
.skip-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  color: $white;
  word-wrap: normal !important;
  &:focus {
    background-color: $navy;
    clip: auto !important;
    color: $white;
    clip-path: none;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

.container{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}